.counter{
    font-family:serif;
    text-align: center;
    color: chocolate;
}

.counter button{
    background-color: bisque;
    border-radius: 16px;
    font-size: 15px;
}

.counter button:hover{
    background-color: burlywood;
}

.counter button:active{
    transform: scale(1.5);
}